.parent-container {
    background-color: cyan;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
}

.mydiv {
    border: 1px solid black;
    padding: 15px;
    margin: 5px;
    background-color: rgb(249, 249, 245);
    border: 1px solid red
}
#div-1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column:1/4;
}
#div-2{
    grid-row-start: 2;
    grid-row-end: 5;
}
#div-3{
    grid-row-start: 2;
    grid-row-end: 5;
}
 #div-4{
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 5;
} 

#div-6{
    grid-column-start:1 ;
    grid-column-end: -1;
    grid-row-start: 5;
    grid-row-end: 5;
}

